<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="total">
        <my_component v-model="total"></my_component>
    </div>
    <script>
        Vue.component('my_component', {
            template: '<div>\
                <button @click="handleAdd">+</button>\
            </div>\
            ',
            data() {
                return {
                    total: 0
                }
            },
            methods: {
                handleAdd() {
                    this.total++;
                    //使用input可以直接把值传递到的组件的v-model中
                    this.$emit('input', this.total)
                }
            }
        })
        var vm = new Vue({
            el: '#app',
            data: {
                total: 0
            },
            methods: {}
        });
    </script>
</body>

</html>